
@{
    ViewBag.Title = "Give Feedback";
}

<div class=" text-center">
    <label for="txtSpecialReq">Any feedback is appreciated:</label><br />
    <textarea id="txtSpecialReq" cols="80" name="txtSpecialReq" rows="7" tabindex="39"
              placeholder="-Please let us know your opinion-"></textarea><br>
</div>



