
@{
    ViewBag.Title = "Complain Page";
}

<div class="text-center">
    <a class="btn btn-primary" onclick="location.href='@Url.Action("ComplainForm")'"> Report Complain</a>
    <a class="btn btn-primary" onclick="location.href='@Url.Action("ComplainFeedback")'"> Give Feedback</a>
</div>
