
@{
    ViewBag.Title = "Home";
}
    <div class="text-center">
        <img src="~/wwwroot/Images/buildingimages.jpg" />
        <a class="btn btn-primary" onclick="location.href='@Url.Action("ComplainList")'"> Complain Page</a>
        <a class="btn btn-primary" onclick="location.href='@Url.Action("Profile")'"> My Profile</a>
        <a class="btn btn-primary" onclick="location.href='@Url.Action("Communication")'">Communication</a>
    </div>


