
@{
    ViewBag.Title = "Registration Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="/lib/bootsrap/css/bootstrap.min.css" />
</head>
<body>
    <div>
    </div>
</body>
</html>
